<?xml version="1.0" encoding="utf-8"?>
<ObjectDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.microsoft.com/2009/Dynamics/Integration">
  <Types>
    <Type xsi:type="ComplexType" Name="Microsoft.Dynamics.Integration.Adapters.Crm2011.OptionList" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="Account" TypeName="account" DisplayName="Account" IsRequired="false" />
        <Field Name="Address" TypeName="customeraddress" DisplayName="Customer Address" IsRequired="false" />
        <Field Name="Contact" TypeName="contact" DisplayName="Contact" IsRequired="false" />
        <Field Name="Invoice" TypeName="invoice" DisplayName="Invoice" IsRequired="false" />
        <Field Name="InvoiceDetail" TypeName="invoicedetail" DisplayName="Invoice Detail" IsRequired="false" />
        <Field Name="SalesOrder" TypeName="salesorder" DisplayName="Sales Order" IsRequired="false" />
        <Field Name="SalesOrderDetail" TypeName="salesorderdetail" DisplayName="Sales Order Detail" IsRequired="false" />
        <Field Name="Quote" TypeName="quote" DisplayName="Quote" IsRequired="false" />
        <Field Name="QuoteDetail" TypeName="quotedetail" DisplayName="Quote Detail" IsRequired="false" />
        <Field Name="PriceLevel" TypeName="pricelevel" DisplayName="Price Level" IsRequired="false" />
        <Field Name="ProductPriceLevel" TypeName="productpricelevel" DisplayName="Product Price Level" IsRequired="false" />
        <Field Name="Product" TypeName="product" DisplayName="Product" IsRequired="false" />
        
        <!-- Global optionsets-->
        <Field Name="dynamics_erpcountycode" TypeName="OptionSetValue" DisplayName="Dynamics ERP Country Code" IsRequired="false" IsGlobal="true"/>
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="account" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="accountcategorycode" TypeName="OptionSetValue" DisplayName="Account Category" IsRequired="false" />
        <Field Name="accountclassificationcode" TypeName="OptionSetValue" DisplayName="Account Classification" IsRequired="false" />  
        <Field Name="accountratingcode" TypeName="OptionSetValue" DisplayName="Account Rating" IsRequired="false" />
        <Field Name="address1_addresstypecode" TypeName="OptionSetValue" DisplayName="Address 1 Address Type" IsRequired="false" />
        <Field Name="address1_freighttermscode" TypeName="OptionSetValue" DisplayName="Address 1 Freight Terms" IsRequired="false" />
        <Field Name="address1_shippingmethodcode" TypeName="OptionSetValue" DisplayName="Address 1 Shipping Method" IsRequired="false" />
        <Field Name="address2_addresstypecode" TypeName="OptionSetValue" DisplayName="Address 2 Address Type" IsRequired="false" />
        <Field Name="address2_freighttermscode" TypeName="OptionSetValue" DisplayName="Address 2 Freight Terms" IsRequired="false" />
        <Field Name="address2_shippingmethodcode" TypeName="OptionSetValue" DisplayName="Address 2 Shipping Method" IsRequired="false" />
        <Field Name="businesstypecode" TypeName="OptionSetValue" DisplayName="Business Type" IsRequired="false" />
        <Field Name="customersizecode" TypeName="OptionSetValue" DisplayName="Customer Size" IsRequired="false" />
        <Field Name="customertypecode" TypeName="OptionSetValue" DisplayName="Relationship Type" IsRequired="false" />
        <Field Name="industrycode" TypeName="OptionSetValue" DisplayName="Industry" IsRequired="false" />
        <Field Name="ownershipcode" TypeName="OptionSetValue" DisplayName="Ownership" IsRequired="false" />
        <Field Name="paymenttermscode" TypeName="OptionSetValue" DisplayName="Payment Terms" IsRequired="false" />
        <Field Name="preferredappointmentdaycode" TypeName="OptionSetValue" DisplayName="Preferred Day" IsRequired="false" />
        <Field Name="preferredappointmenttimecode" TypeName="OptionSetValue" DisplayName="Preferred Time" IsRequired="false" />
        <Field Name="preferredcontactmethodcode" TypeName="OptionSetValue" DisplayName="Preferred Method of Contact" IsRequired="false" />
        <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
        <Field Name="territorycode" TypeName="OptionSetValue" DisplayName="Territory Code" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="contact" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="accountrolecode" TypeName="OptionSetValue" DisplayName="Role" IsRequired="false" />
        <Field Name="address1_addresstypecode" TypeName="OptionSetValue" DisplayName="Address 1 Address Type" IsRequired="false" />
        <Field Name="address1_freighttermscode" TypeName="OptionSetValue" DisplayName="Address 1 Freight Terms" IsRequired="false" />
        <Field Name="address1_shippingmethodcode" TypeName="OptionSetValue" DisplayName="Address 1 Shipping Method" IsRequired="false" />
        <Field Name="address2_addresstypecode" TypeName="OptionSetValue" DisplayName="Address 2 Address Type" IsRequired="false" />
        <Field Name="address2_freighttermscode" TypeName="OptionSetValue" DisplayName="Address 2 Freight Terms" IsRequired="false" />
        <Field Name="address2_shippingmethodcode" TypeName="OptionSetValue" DisplayName="Address 2 Shipping Method" IsRequired="false" />
        <Field Name="customersizecode" TypeName="OptionSetValue" DisplayName="Customer Size" IsRequired="false" />
        <Field Name="customertypecode" TypeName="OptionSetValue" DisplayName="Relationship Type" IsRequired="false" />
        <Field Name="educationcode" TypeName="OptionSetValue" DisplayName="Education" IsRequired="false" />
        <Field Name="familystatuscode" TypeName="OptionSetValue" DisplayName="Marital Status" IsRequired="false" />
        <Field Name="gendercode" TypeName="OptionSetValue" DisplayName="Gender" IsRequired="false" />
        <Field Name="haschildrencode" TypeName="OptionSetValue" DisplayName="Has Children" IsRequired="false" />
        <Field Name="leadsourcecode" TypeName="OptionSetValue" DisplayName="Lead Source" IsRequired="false" />
        <Field Name="paymenttermscode" TypeName="OptionSetValue" DisplayName="Payment Terms" IsRequired="false" />
        <Field Name="preferredappointmentdaycode" TypeName="OptionSetValue" DisplayName="Preferred Day" IsRequired="false" />
        <Field Name="preferredappointmenttimecode" TypeName="OptionSetValue" DisplayName="Preferred Time" IsRequired="false" />
        <Field Name="preferredcontactmethodcode" TypeName="OptionSetValue" DisplayName="Preferred Method of Contact" IsRequired="false" />
        <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
        <Field Name="territorycode" TypeName="OptionSetValue" DisplayName="Territory" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="invoice" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="paymenttermscode" TypeName="OptionSetValue" DisplayName="Payment Terms" IsRequired="false" />
        <Field Name="pricingerrorcode" TypeName="OptionSetValue" DisplayName="Pricing Error" IsRequired="false" />
        <Field Name="prioritycode" TypeName="OptionSetValue" DisplayName="Priority" IsRequired="false" />
        <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
        <Field Name="shipto_freighttermscode" TypeName="OptionSetValue" DisplayName="Ship To Freight Terms" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="salesorder" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
        <Field Name="paymenttermscode" TypeName="OptionSetValue" DisplayName="Payment Terms" IsRequired="false" />
        <Field Name="pricingerrorcode" TypeName="OptionSetValue" DisplayName="Pricing Error" IsRequired="false" />
        <Field Name="prioritycode" TypeName="OptionSetValue" DisplayName="Priority" IsRequired="false" />
        <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
        <Field Name="shipto_freighttermscode" TypeName="OptionSetValue" DisplayName="Ship To Freight Terms" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="quote" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <Fields>
            <Field Name="freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
            <Field Name="paymenttermscode" TypeName="OptionSetValue" DisplayName="Payment Terms" IsRequired="false" />
            <Field Name="pricingerrorcode" TypeName="OptionSetValue" DisplayName="Pricing Error" IsRequired="false" />
            <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
            <Field Name="shipto_freighttermscode" TypeName="OptionSetValue" DisplayName="Ship To Freight Terms" IsRequired="false" />
        </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="pricelevel" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
        <Field Name="paymentmethodcode" TypeName="OptionSetValue" DisplayName="Payment Method" IsRequired="false" />
        <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="product" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="producttypecode" TypeName="OptionSetValue" DisplayName="Product Type" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="CollectionType" Name="OptionSetValue" ClrTypeName="System.String[], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Item Name="Item" TypeName="System.String" DisplayName="Options" IsRequired="false" />
    </Type>
    <Type xsi:type="ComplexType" Name="customeraddress" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="addresstypecode" TypeName="OptionSetValue" DisplayName="Address Type" IsRequired="false" />
        <Field Name="freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
        <Field Name="shippingmethodcode" TypeName="OptionSetValue" DisplayName="Shipping Method" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="invoicedetail" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="invoicestatecode" TypeName="OptionSetValue" DisplayName="Invoice Status" IsRequired="false" />
        <Field Name="pricingerrorcode" TypeName="OptionSetValue" DisplayName="Pricing Error" IsRequired="false" />
        <Field Name="shipto_freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="salesorderdetail" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="pricingerrorcode" TypeName="OptionSetValue" DisplayName="Pricing Error" IsRequired="false" />
        <Field Name="salesorderstatecode" TypeName="OptionSetValue" DisplayName="Order Status" IsRequired="false" />
        <Field Name="shipto_freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="quotedetail" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <Fields>
            <Field Name="pricingerrorcode" TypeName="OptionSetValue" DisplayName="Pricing Error" IsRequired="false" />
            <Field Name="quotestatecode" TypeName="OptionSetValue" DisplayName="Quote Status" IsRequired="false" />
            <Field Name="shipto_freighttermscode" TypeName="OptionSetValue" DisplayName="Freight Terms" IsRequired="false" />
        </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="productpricelevel" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="pricingmethodcode" TypeName="OptionSetValue" DisplayName="Pricing Method" IsRequired="false" />
        <Field Name="quantitysellingcode" TypeName="OptionSetValue" DisplayName="Quantity Selling Option" IsRequired="false" />
        <Field Name="roundingoptioncode" TypeName="OptionSetValue" DisplayName="Rounding Option" IsRequired="false" />
        <Field Name="roundingpolicycode" TypeName="OptionSetValue" DisplayName="Rounding Policy" IsRequired="false" />
      </Fields>
    </Type>
    <Type xsi:type="ComplexType" Name="globaloptionsets" ClrTypeName="System.Collections.Generic.Dictionary`2[[System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089],[System.Object, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089]], mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <Fields>
        <Field Name="dynamics_navcountrycode" TypeName="OptionSetValue" DisplayName="Dynamics NAV Country Code" IsRequired="false"/>
      </Fields>
    </Type>
    <Type xsi:type="SimpleType" Name="System.String" ClrTypeName="System.String, mscorlib, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </Types>
  <RootDefinition Name="OptionList" TypeName="Microsoft.Dynamics.Integration.Adapters.Crm2011.OptionList" DisplayName="Option list" IsRequired="false" />
</ObjectDefinition>
