<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Adapters;"/>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <!-- 0-off, 1-error, 2-warn, 3-info, 4-verbose -->
      <add name="Microsoft.Dynamics.Integration.TraceLog" value="4"/>
    </switches>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v2.0"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>